@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #141414;
  --color-background_secondary: #333333;
  --color-background_content: #222222;
  --color-background_positive: #4bb34b;
  
  --color-text_primary: #e1e3e6;
  --color-text_secondary: #828282;
  --color-text_error: #b22020;

  --border-primary: 1px solid rgba(255, 255, 255, 0.12);


  background-color: var(--color-background);
}