@import '@/scss/_mixins.scss';

.auth {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.auth_content {
  display: flex;
  height: 100vh;

  .left_block {
    @include flexColumn;

    width: 65%;
    height: 100%;
    margin-right: 15px;

    .first_inner {
      height: 50%;
      padding: 30px 25px;

      > h4 {
        color: var(--color-text_primary);
      }
      > p {
        color: var(--color-text_secondary);
        font-size: 0.7rem;
      }
    }

    .second_inner {
      display: flex;
      justify-content: space-between;
      height: 25%;
      padding: 30px 25px;

      > span {
        width: 25%;
        color: var(--color-text_primary);
        font-weight: 500;
        margin-right: 20px;
      }

      > img {
        width: 75%;
      }
    }

    > div {
      @include authBlock;
    }
  }

  .right_block {
    @include flexColumn;

    width: 35%;
    height: 100%;

    .first_inner {
      height: 65%;

      .first_inner_item {
        @include flexColumn;

        align-items: center;

        img {
          padding: 20px 0 10px 0;
        }

        h3 {
          color: var(--color-text_primary);
          font-weight: 500;
          font-size: 1rem;
          padding: 0 0 10px 0;
        }
      }

      .login_form {
        padding: 10px;
      }

      .qr_code {
        padding: 10px;
      }
    }

    .second_inner {
      height: 35%;

      a {
        cursor: pointer;
      }

      button {
        @apply w-full h-8 rounded-[10px] mt-5 text-sm text-white;

        background-color: var(--color-background_positive);

        &:hover {
          opacity: 80%;
        }
      }

      
    }

    > div {
      @include authBlock;
    }
  }
}

.auth_footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;

  > span {
    color: var(--color-text_secondary);
  }
}
